[Unit]
Description=Start remote_camera
After=

[Service]
ExecStart=/usr/bin/remote_camera
Restart=always
RestartSec=1

[Install]
WantedBy=graphical.target
